---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Project from '../components/Project.astro';
---

<Layout doIndex={false}>
	<div class="text-white">
    <NavBar page="projects" />

    <!-- BODY -->
		<main class="container mx-auto flex flex-col mt-16 px-4 md:px-12">
			<div class="mx-auto flex flex-row flex-wrap align-center mb-8 md:mb-32">
				<h1 class="w-full text-4xl font-clash mb-6">Personal Projects</h1>

        <Project
          img_file_name="mml"
          progress={{text: "[Pre-alpha] Full Stack Project", color: "text-pink-500"}}
          title="MyManhwaList"
          description="Manhwa reading lists exchange community"
          tools={['Next.js', 'React', 'Strapi', 'Tailwind CSS']}
          url="https://mymanhwalist-next.vercel.app"
          url_text="View Project"
          github_url={null}
        />

        <Project
          img_file_name="orangey"
          progress={{text: "Theme Design", color: "text-pink-500"}}
          title="Orangey"
          description="Warm dark theme for VSCode"
          tools={['Visual Studio Code API', 'Package']}
          url="https://marketplace.visualstudio.com/items?itemName=ricafolio.orangey-vscode-theme"
          url_text="Download extension"
          github_url="https://github.com/ricafolio/orangey-vscode-theme"
        />

        <Project
          img_file_name="cbtv"
          progress={{text: "Front-end Project", color: "text-pink-500"}}
          title="CSS Box Transform Visualizer"
          description="Simple playground to quickly generate code for CSS3 Transforms"
          tools={['React', 'SASS', 'Typescript', 'Vite']}
          url="https://box-transform-visualizer.vercel.app/"
          url_text="View Project"
          github_url="https://github.com/ricafolio/box-transform-visualizer"
        />
			</div>

      <div class="mx-auto flex flex-row flex-wrap align-center mb-8 md:mb-32">
				<h1 class="w-full text-4xl font-clash mb-6">Client Solo Projects</h1>

        <Project
          img_file_name="chef"
          progress={{text: "Front-end Project", color: "text-pink-500"}}
          title="Chef"
          description="Responsive landing page for a chrome extension"
          tools={['HTML', 'CSS', 'jQuery', 'Jekyll']}
          url="https://usechef.com/"
          url_text="View Project"
          github_url={null}
        />

        <Project
          img_file_name="wenmint"
          progress={{text: "[Offline] Full Stack Project", color: "text-red-500"}}
          title="Wenmint.io"
          description="A community to keep track of upcoming NFT launch dates"
          tools={['Nuxt.js', 'Vue.js', 'Strapi', 'Discord API', 'Twitter API', 'SEO']}
          url="https://web.archive.org/web/20221207025634/https://wenmint.io/"
          url_text="View archived page"
          github_url={null}
        />

        <Project
          img_file_name="bot"
          progress={{text: "[Offline] Bot Project", color: "text-red-500"}}
          title="Premint Links Discord Bot"
          description="A bot utilized by over 300 discord servers that extracts the most recent premint links shared on Twitter."
          tools={['Discord.js', 'Node.js', 'Twitter API']}
          url="https://top.gg/bot/1006311461175443526"
          url_text="View archived page"
          github_url={null}
        />

        <Project
          img_file_name="cult"
          progress={{text: "[Offline] Full Stack Project", color: "text-red-500"}}
          title="NFT Referral"
          description="An alt-resistant referral campaign implemented for an NFT project, attracting 23,000 registrations in just three days."
          tools={['Nuxt.js', 'Strapi', 'Twitter OAuth']}
          url="https://twitter.com/search?q=cultofeth.xyz&src=typed_query&f=live"
          url_text="View campaign results"
          github_url={null}
        />
      </div>
		</main>
  </div>
</Layout>
