---
import Layout from '../layouts/Layout.astro'
import NavBar from '../components/NavBar.astro'
import Project from '../components/Project.astro'
---

<Layout 
  title="ricafolio · projects"
  description="The collection of projects I worked on / I'm working on."
  doIndex={false}
>
	<div id="swup" class="transition-fade text-black">
    <NavBar page="projects" />

		<main class="container mx-auto flex flex-col mt-16 px-4 md:px-12">
			<div class="mx-auto flex flex-row flex-wrap align-center mb-8 md:mb-32">
				<h1 class="w-full text-3xl sm:text-4xl font-semibold font-clash mb-6 uppercase">Personal projects</h1>

        <Project
          lazy={false}
          img_file_name="mml"
          progress={{text: "[OFFLINE] Full Stack Project", color: "text-red-600"}}
          title="MyManhwaList"
          description="Manhwa reading lists exchange community"
          tools={[
            {id: 'next', name: 'Next.js'},
            {id: 'react', name: 'React'},
            {id: 'strapi', name: 'Strapi'},
            {id: 'tailwind', name: 'Tailwind CSS'}
          ]}
          url="https://mymanhwalist-next.vercel.app"
          url_text="View project"
          github_url={null}
        />

        <Project
          lazy={false}
          img_file_name="destinasyon"
          progress={{text: "Full stack Project", color: "text-lime-600"}}
          title="Destinasyon"
          description="Tool to discover the best travel destinations in the Philippines."
          tools={[
            {id: 'next', name: 'Next.js'},
            {id: 'openaiapi', name: 'OpenAI API'},
            {id: 'googleapi', name: 'Google Places API'},
          ]}
          url="https://app.destinasyon.xyz/"
          url_text="View Project"
          github_url="https://github.com/ricafolio/destinasyon-app"
        />

        <Project
          img_file_name="orangey"
          progress={{text: "Extension Project", color: "text-lime-600"}}
          title="Orangey"
          description="Warm dark theme for VSCode"
          tools={[
            {id: 'vscode', name: 'Visual Studio Code API'},
            {id: 'package', name: 'Package'},
          ]}
          url="https://marketplace.visualstudio.com/items?itemName=ricafolio.orangey-vscode-theme"
          url_text="Download extension"
          github_url="https://github.com/ricafolio/orangey-vscode-theme"
        />

        <Project
          img_file_name="hcs"
          progress={{text: "Extension Project", color: "text-lime-600"}}
          title="Hide ChatGPT Sidebar"
          description="A lightweight browser extension to hide ChatGPT's sidebar"
          tools={[
            {id: 'chromeapi', name: 'Chrome Extension API'},
            {id: 'javascript', name: 'Javascript'}
          ]}
          url="https://chrome.google.com/webstore/detail/pgpgbilginopbmeoccggifljlmgehpek/"
          url_text="Download extension"
          github_url="https://github.com/ricafolio/hide-chatgpt-sidebar"
        />

        <Project
          img_file_name="cbtv"
          progress={{text: "Front-end Project", color: "text-lime-600"}}
          title="CSS Box Transform Visualizer"
          description="Simple playground to quickly generate code for CSS3 Transforms"
          tools={[
            {id: 'react', name: 'React'},
            {id: 'sass', name: 'SASS'},
            {id: 'typescript', name: 'Typescript'},
            {id: 'vite', name: 'Vite'}
          ]}
          url="https://box-transform-visualizer.vercel.app/"
          url_text="View project"
          github_url="https://github.com/ricafolio/box-transform-visualizer"
        />
			</div>

      <div class="mx-auto flex flex-row flex-wrap align-center mb-8 md:mb-32">
				<h2 class="w-full text-3xl sm:text-4xl font-semibold font-clash mb-6 uppercase">Solo projects for clients</h2>

        <Project
          img_file_name="chef"
          progress={{text: "Front-end Project", color: "text-lime-600"}}
          title="Chef"
          description="Responsive landing page for a chrome extension"
          tools={[
            {id: 'html', name: 'HTML'},
            {id: 'css', name: 'CSS'},
            {id: 'jquery', name: 'jQuery'},
            {id: 'jekyll', name: 'jekyll'}
          ]}
          url="https://usechef.com/"
          url_text="View project"
          github_url={null}
        />

        <Project
          img_file_name="wenmint"
          progress={{text: "[Offline] Full Stack Project", color: "text-red-600"}}
          title="Wenmint.io"
          description="A community to keep track of upcoming NFT launch dates"
          tools={[
            {id: 'nuxt', name: 'Nuxt.js'},
            {id: 'discordapi', name: 'Discord API'},
            {id: 'twitterapi', name: 'Twitter API'},
            {id: 'seo', name: 'SEO'},
          ]}
          url="https://web.archive.org/web/20221207025634/https://wenmint.io/"
          url_text="View archived page"
          github_url={null}
        />

        <Project
          img_file_name="bot"
          progress={{text: "[Offline] Bot Project", color: "text-red-600"}}
          title="Premint Links Discord Bot"
          description="A bot used by over 300 discord servers that extracts the most recent premint links shared on Twitter."
          tools={[
            {id: 'discordapi', name: 'Discord API'},
            {id: 'twitterapi', name: 'Twitter API'},
            {id: 'node', name: 'Node.js'},
          ]}
          url="https://top.gg/bot/1006311461175443526"
          url_text="View archived page"
          github_url={null}
        />

        <Project
          img_file_name="cult"
          progress={{text: "[Offline] Full Stack Project", color: "text-red-600"}}
          title="NFT Referral"
          description="An alt-resistant referral campaign implemented for an NFT project, attracting 23,000 registrations in just three days."
          tools={[
            {id: 'nuxt', name: 'Nuxt.js'},
            {id: 'strapi', name: 'Strapi'},
            {id: 'twitterapi', name: 'Twitter OAuth'},
          ]}
          url="https://twitter.com/search?q=cultofeth.xyz&src=typed_query&f=live"
          url_text="View campaign results"
          github_url={null}
        />
      </div>
		</main>
  </div>
</Layout>

<style>
	body {
		background-color: #fffbeb;
	}
</style>
