---
import ExternalIcon from "./icons/ExternalIcon.astro"
import GithubIcon from "./icons/GithubIcon.astro"
import ReactIcon from "./icons/tech/ReactIcon.astro"
import NextIcon from "./icons/tech/NextIcon.astro"
import TailwindIcon from "./icons/tech/TailwindIcon.astro"
import VSCodeIcon from "./icons/tech/VSCodeIcon.astro"
import SassIcon from "./icons/tech/SassIcon.astro"
import TypescriptIcon from "./icons/tech/TypescriptIcon.astro"
import ViteIcon from "./icons/tech/ViteIcon.astro"
import HTMLIcon from "./icons/tech/HTMLIcon.astro"
import CSSIcon from "./icons/tech/CSSIcon.astro"
import JqueryIcon from "./icons/tech/JqueryIcon.astro"
import JekyllIcon from "./icons/tech/JekyllIcon.astro"
import NuxtIcon from "./icons/tech/NuxtIcon.astro"
import DiscordAPIIcon from "./icons/tech/DiscordAPIIcon.astro"
import TwitterAPIIcon from "./icons/tech/TwitterAPIIcon.astro"
import NodeIcon from "./icons/tech/NodeIcon.astro"
import StrapiIcon from "./icons/tech/StrapiIcon.astro"
import NPMIcon from "./icons/tech/NPMIcon.astro"
import SEOIcon from "./icons/tech/SEOIcon.astro"
import OpenAIIcon from "./icons/tech/OpenAIIcon.astro"

const { lazy = true, img_file_name, progress, title, description, tools, url, url_text, github_url } = Astro.props
---
<section class="w-full md:w-6/12 mb-12 md:mb-6">
  <div class="bg-card drop-shadow-[5px_5px_#000] border-2 border-zinc-900 transition-colors p-5 md:mr-4 rounded-md">
    <div class="mb-5">
      <picture>
        <source type="image/webp" srcset={`/img/${img_file_name}.webp`} class="rounded-md">
        <source type="image/png" srcset={`/img/${img_file_name}.png`} class="rounded-md">
        <img src={`/img/${img_file_name}.png`} alt={title} loading={lazy ? "lazy" : null} width="564" height="288" class="rounded-md">
      </picture>
    </div>

    <div class="flex flex-col justify-center">
      <div>
        {progress && <small class={`block text-sm mb-1 font-semibold uppercase ${progress.color}`}>{progress.text}</small>}
        <h2 class="text-3xl font-clash">{title}</h2>
        <p class="text-lg text-black mt-1">{description}</p>
      </div>

      <div class="mt-1 mb-3">
        {tools.map((tool: {id: String, name: String}, i: Number) => {
          return (
            <span class="inline-flex items-center select-none">
              <span class="mt-1">
                {
                  (tool.id === 'react') ? <ReactIcon /> :
                  (tool.id === 'next') ? <NextIcon /> :
                  (tool.id === 'strapi') ? <StrapiIcon /> :
                  (tool.id === 'tailwind') ? <TailwindIcon /> :
                  (tool.id === 'vscode') ? <VSCodeIcon /> :
                  (tool.id === 'sass') ? <SassIcon /> :
                  (tool.id === 'typescript') ? <TypescriptIcon /> :
                  (tool.id === 'vite') ? <ViteIcon /> :
                  (tool.id === 'html') ? <HTMLIcon /> :
                  (tool.id === 'css') ? <CSSIcon /> :
                  (tool.id === 'jquery') ? <JqueryIcon /> :
                  (tool.id === 'jekyll') ? <JekyllIcon /> :
                  (tool.id === 'nuxt') ? <NuxtIcon /> :
                  (tool.id === 'discordapi') ? <DiscordAPIIcon /> :
                  (tool.id === 'twitterapi') ? <TwitterAPIIcon /> :
                  (tool.id === 'node') ? <NodeIcon /> :
                  (tool.id === 'package') ? <NPMIcon /> :
                  (tool.id === 'seo') ? <SEOIcon /> :
                  (tool.id === 'openaiapi') ? <OpenAIIcon /> :
                  null
                }
              </span>
              <span class="py-1 mt-1 ml-2 mr-1 text-zinc-800">
                {tool.name}
              </span>
              {i !== (tools.length -1) && <span class="text-gray-300 pl-2 pr-3">&middot;</span>}
            </span>
          )
        })}
      </div>

      <div class="flex items-center">
        <a href={url} target="_blank" rel="nofollow" class="inline-block font-bold text-white bg-black hover:bg-zinc-800 transition duration-300 rounded-full py-3 px-7">
          <span class="flex items-center justify-center">
            <span>{url_text}</span>
            <ExternalIcon />
          </span>
        </a>
        {github_url && <a href={github_url} target="_blank" class="ml-2 inline-block bg-black hover:bg-zinc-800 transition duration-300 rounded-full py-2 px-3" aria-label="Github repository">
          <GithubIcon color="#fff" />
        </a>}
      </div>
    </div>
  </div>
</section>

<style>
  .bg-card {
    background: linear-gradient(0deg, #56ff00, #fffbeb 5rem);
    transition: all ease 300ms;
  }
  .bg-card:hover {
    transform: translate(-2px, -2px);
    box-shadow: 7px 7px #000;
  }
</style>
